.game4-quiz {
    color: #212529;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /*TODO faire bouger le shadow en fonction du break point*/
    /*@media screen {*/
    /*  .slide{}*/
    /*}*/ }
.game4-quiz .h1, .game4-quiz .h2, .game4-quiz .h3, .game4-quiz .h4, .game4-quiz .h5, .game4-quiz .h6, .game4-quiz h1, .game4-quiz h2, .game4-quiz h3, .game4-quiz h4, .game4-quiz h5, .game4-quiz h6 {
    color: unset;
    font-family: unset;
    line-height: 1.2;
    font-weight: 500; }
.game4-quiz .slide {
    height: 100vh;
    max-height: 900px;
    box-shadow: inset 1140px 0 570px -570px rgba(0, 0, 0, 0.75); }
.game4-quiz img.cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover; }
.game4-quiz .quiz h2 {
    background: #fff;
    padding: 1rem;
    text-transform: uppercase;
    display: inline-block;
    color: #e3000f;
    font-size: 2.5rem;
    position: absolute;
    top: 15%;
    left: 0;
    font-weight: 700; }
.game4-quiz__result-wrapper {
    box-shadow: inset 100vw 0 100vW -35vw rgba(0, 0, 0, 0.75); }
.game4-quiz__result-wrapper h2 {
    font-size: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    background: #fff;
    padding: 1rem;
    text-transform: uppercase;
    margin-left: -15px;
    margin-right: -15px; }
.game4-quiz__result-body {
    color: #fff; }
.game4-quiz__result-body .CircularProgressbar .CircularProgressbar-trail {
    stroke: none; }
.game4-quiz__result-body .CircularProgressbar .CircularProgressbar-path {
    stroke: #5a92a8; }
.game4-quiz__result-body .CircularProgressbar .CircularProgressbar-text {
    fill: #fff;
    font-weight: 700; }
.game4-quiz__modal-qna .h1, .game4-quiz__modal-qna .h2, .game4-quiz__modal-qna .h3, .game4-quiz__modal-qna .h4, .game4-quiz__modal-qna .h5, .game4-quiz__modal-qna .h6, .game4-quiz__modal-qna h1, .game4-quiz__modal-qna h2, .game4-quiz__modal-qna h3, .game4-quiz__modal-qna h4, .game4-quiz__modal-qna h5, .game4-quiz__modal-qna h6 {
    color: unset;
    font-family: unset;
    line-height: 1.2;
    font-weight: 500; }

.result .CircularProgressbar .CircularProgressbar-trail,
.card-header .CircularProgressbar .CircularProgressbar-trail {
    stroke: none; }

.result .CircularProgressbar .CircularProgressbar-path,
.card-header .CircularProgressbar .CircularProgressbar-path {
    stroke: #5a92a8; }

.result .CircularProgressbar .CircularProgressbar-text,
.card-header .CircularProgressbar .CircularProgressbar-text {
    fill: #fff;
    font-weight: 700; }

.elearning .e-chapter h3 {
    background: #fff;
    padding: 1rem;
    text-transform: uppercase; }

.e-result-wrapper h2 {
    background: #fff;
    padding: 1rem;
    text-transform: uppercase;
    margin-left: -15px;
    margin-right: -15px; }

.e-result-wrapper h2 span,
.e-chapter h3 span {
    font-weight: 700;
    border-left: 7px solid #e3000f;
    padding-left: 1rem;
    margin-left: 1rem; }

.e-chapter-body {
    padding: 1rem 1rem 2rem; }

.lesson h2:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 108px 50px 0 0;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 0;
    right: -50px; }

.lesson h2 span {
    display: block;
    color: #000;
    font-size: 60%;
    text-align: right; }

.lesson .content {
    color: #ffffff;
    position: absolute;
    top: 40%;
    /*bottom: 20vh;*/
    left: 5%;
    max-width: 45%; }

.duration {
    color: #ffffff;
    font-weight: 700;
    padding: 1rem 0; }

.duration svg {
    margin-right: .5rem; }

.btn-elearning {
    position: relative;
    border: none;
    border-radius: unset;
    color: #262626;
    background-color: #ddd;
    border-color: #ddd;
    padding: 1rem 3rem;
    text-transform: uppercase; }

.btn-group > .btn.btn-elearning {
    flex: unset; }

.btn-elearning:after {
    position: absolute;
    right: 100%;
    bottom: 0;
    left: 0px;
    height: 5px;
    content: '';
    transition: right 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: #e3000f; }

.btn-elearning:not([disabled]):hover:after {
    right: 0px; }

.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    /* Player ratio: 100 / (1280 / 720) */
    margin: 1.5rem 0; }

.react-player {
    position: absolute;
    top: 0;
    left: 0; }

.modal-backdrop.show {
    opacity: .75; }

.modal-80w {
    max-width: 80%; }

.modal-quiz .modal-content {
    background-color: transparent;
    border-radius: unset;
    border: 1px solid #fff;
    box-shadow: inset 100vw 0 100vW -35vw rgba(0, 0, 0, 0.75); }

.modal-quiz .modal-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; }

.modal-warmup .modal-content img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50%;
    height: 100%;
    object-fit: contain; }

.modal-warmup .modal-header,
.modal-quiz .modal-header {
    border-radius: unset;
    background-color: #fff; }

.modal-warmup .modal-title,
.modal-quiz .modal-title {
    text-transform: uppercase; }

.modal-warmup .modal-title span,
.modal-quiz .modal-title span {
    font-weight: 700;
    border-left: 6px solid #e3000f;
    padding-left: 1rem;
    margin-left: 1rem; }

.modal-quiz .modal-footer {
    border-top: unset; }

.modal-quiz .btn-elearning:not([disabled]):after {
    background-color: rgba(0, 0, 0, 0.5); }

.modal-quiz .modal-body {
    color: #fff;
    padding: 2.5% 10%; }

.modal-warmup .modal-body {
    background-color: #e3edf0;
    padding: 2.5% 5%;
    min-height: 80vh; }

.e-warmup {
    max-width: 50%; }

.e-warmup h4 {
    font-weight: 700; }

.e-warmup p {
    font-size: 1.25rem;
    margin-bottom: .75rem; }

.e-warmup p:last-child {
    margin-bottom: 5vh; }

.e-result-wrapper .card,
.e-result-body .card {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.75); }

.e-result-wrapper .card {
    color: #fff; }

.e-result-wrapper .card-header,
.e-result-body .card-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; }

.e-result-wrapper .card-header {
    justify-content: space-between; }

.e-result-wrapper .card-header span {
    max-width: 5rem; }

.e-result-body .card-header span {
    font-size: 1.75rem; }

.e-result-body .card h5 {
    /*font-weight: 700;*/
    font-size: 1.5rem;
    padding-right: 2rem;
    padding-left: 1rem;
    flex-grow: 1; }

.e-result-wrapper .card h4,
.e-result-body .card h4 {
    background-color: #e3000f;
    text-transform: uppercase;
    font-weight: 700;
    padding: .2rem 1rem;
    flex-shrink: 0; }

.e-result-wrapper .card h4 {
    padding: .5rem 1rem; }

.e-result-wrapper .card h5 {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-grow: 1;
    color: #fff; }

.e-result-wrapper section h3,
.e-result h2,
.e-quiz h4 {
    background-color: #e3000f;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    padding: .2rem 1rem;
    margin-bottom: 1rem;
    color: #fff; }

.e-result-wrapper section h3 {
    color: #fff; }

.e-result .e-question:not(:first-child) {
    padding-top: 2.5rem; }

.e-result .e-question h4 {
    font-weight: 700;
    font-size: 1.75rem;
    padding-bottom: 1.5rem; }

.e-result .e-question h5 {
    display: block;
    font-weight: 700;
    font-size: 1.25rem;
    /*color: #000;*/
    padding: .5rem;
    margin-bottom: 1rem;
    /*background:#fff;*/
    border-radius: 3px; }

.e-response-set {
    max-width: 80%;
    list-style: none; }

.e-quiz .e-question {
    font-weight: 700;
    font-size: 1.75rem;
    padding-bottom: 1.5rem; }

.e-question-help {
    font-style: italic;
    font-size: 1.25rem;
    font-weight: 400; }

/*.e-response-set{*/
/*  max-width: 80%;*/
/*}*/
.custom-control-label {
    cursor: pointer;
    display: block; }

.e-response-set li,
.e-response-set .custom-checkbox {
    background-color: #5a92a8;
    margin-bottom: .35rem;
    font-size: 1.1rem;
    padding: 1rem 1.5rem; }

.e-response-set li {
    max-width: 80%;
    list-style: none;
    position: relative;
    padding-left: 2rem; }

.e-response-set li svg {
    position: absolute;
    left: .25rem;
    font-size: 1.5rem;
    color: #fff; }

.e-response-set .custom-control-label:after {
    display: none; }

/*.e-result  .e-response-set li:before,*/
.e-response-set .custom-control-label:before {
    position: absolute;
    top: -1rem;
    left: -1.5rem;
    /*right: 100%;*/
    bottom: 0;
    display: block;
    width: 0;
    height: calc(2rem + 100%);
    transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    /*pointer-events: none;*/
    content: "";
    border-radius: unset;
    background-color: #fff;
    border: unset; }

/*.e-result  .e-response-set li.checked svg{*/
/*  width: .75rem;*/
/*}*/
/*.e-result  .e-response-set li.checked.ok svg{*/
/*  color: #1ce328;*/
/*}*/
/*.e-result  .e-response-set li.checked.ko svg{*/
/*  color: #e3000f;*/
/*}*/
.e-response-set .custom-control-label:hover:before {
    width: .5rem; }

.custom-control-input:checked ~ .custom-control-label::before {
    color: #5a92a8;
    background-color: #fff;
    width: .75rem; }

.progress {
    height: .5rem; }

.progress-bar {
    background-color: #e3000f; }

/*384*/
@media (max-width: 576px) {
    .slide {
        box-shadow: inset 576px 0 230px -230px rgba(0, 0, 0, 0.75); }
    .lesson h2 {
        padding: 1rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem; }
    .lesson h2:after {
        border-width: 78px 25px 0 0;
        right: -25px; }
    .lesson .content {
        top: 30vh;
        max-width: 85%; }
    .lesson .h4 {
        font-size: 1.25rem; } }

@media (min-width: 768px) {
    .container {
        max-width: 720px; } }

@media (min-width: 992px) {
    .container {
        max-width: 960px; } }

@media (min-width: 1200px) {
    .container {
        max-width: 1140px; } }

/* Style the form */
/*.e-wrapper {*/
/*  margin: 1.5rem 0;*/
/*}*/
/*.e-wrapper h2,*/
/*.e-wrapper h3,*/
/*.e-result h2,*/
/*.e-result h3{*/
/*  color:#333;*/
/*  margin-bottom: 1.5rem;*/
/*}*/
/*.e-wrapper h2{*/
/*  text-transform: uppercase;*/
/*}*/
/* Style the input fields */
/*input {*/
/*  padding: 10px;*/
/*  width: 100%;*/
/*  font-size: 17px;*/
/*  font-family: Raleway;*/
/*  border: 1px solid #aaaaaa;*/
/*}*/
/* Mark input boxes that gets an error on validation: */
/*input.invalid {*/
/*  background-color: #ffdddd;*/
/*}*/
/* Hide all steps by default: */
/*.e-tab,.e-chapter {*/
/*  color:#333;*/
/*  padding: 1.5rem;*/
/*  margin-right: auto;*/
/*  margin-left: auto;*/
/*  min-height: 700px;*/
/*}*/
/*.e-tab.active,.e-chapter.active {*/
/*  background-color: #f5f5f5;*/
/*}*/
/*.e-question {*/
/*  cursor: pointer;*/
/*  text-decoration: underline;*/
/*}*/
/*.e-question > span {*/
/*  display:none;*/
/*}*/
/*.e-question.error{*/
/*  color:darkred;*/
/*}*/
/*.e-question.error > span{*/
/*  display: block;*/
/*  font-size: .8em;*/
/*  text-decoration: none;*/
/*}*/
/*.e-response-set {*/
/*  display: none;*/
/*}*/
/*.e-response-set.active {*/
/*  display: block;*/
/*}*/
/*.e-response-set > label {*/
/*  display: block;*/
/*}*/
/*!* Make circles that indicate the steps of the form: *!*/
/*.e-step {*/
/*  height: 15px;*/
/*  width: 15px;*/
/*  margin: 0 2px;*/
/*  background-color: #bbbbbb;*/
/*  border: none;*/
/*  border-radius: 50%;*/
/*  display: inline-block;*/
/*  opacity: 0.5;*/
/*}*/
/*!* Mark the active step: *!*/
/*.e-step.active {*/
/*  opacity: 1;*/
/*}*/
/*!* Mark the steps that are finished and valid: *!*/
/*.e-step.finish {*/
/*  background-color: #4CAF50;*/
/*}*/
/*.e-btn {*/
/*  display:none;*/
/*}*/
/*.e-btn.active {*/
/*  display:inline-block;*/
/*}*/
/*!*.expected {*!*/
/*!*  list-style-image: url("../image/x.png");*!*/
/*!*}*!*/
/*.red{*/
/*  color:red;*/
/*}*/
/*.green{*/
/*  color: green;*/
/*}*/
/*!*.checked{*!*/
/*!*  list-style-image: url("../image/x.png");*!*/
/*!*}*!*/
/*.e-quiz{*/
/*  padding: 1.5rem 0;*/
/*  display:none;*/
/*}*/
/*.e-quiz h4,*/
/*.e-result h4{*/
/*  background-color:#d33a2c;*/
/*  color:#fff;*/
/*  display: inline-block;*/
/*  font-size: 1.2rem;*/
/*  padding: .1rem;*/
/*}*/
