.btn{
  &-game4-quiz{
    position: relative;
    border: none $light-grey;
    border-radius: unset;
    color: $dark-grey;//#262626;
    background-color: $light-grey;
    //padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: normal;

    .show-result .game4-quiz__caption & {
      display:none
    }

    &:after{
      position: absolute;
      right: 100%;
      bottom: 0;
      left: 0;
      height: $game4-quiz__btn-underline-height;
      content: '';
      transition: right .3s cubic-bezier(.23,1,.32,1);
      background-color:$primary-color;
    }

    &:not([disabled]):hover:after{
      right: 0;
    }
  }

  &-game4-quiz-header{
    position: relative;
    border: none $light-grey;
    border-radius: $game4-quiz__btn-header-radius;
    //box-shadow: 0 1px 1px 1px rgba(0,0,0,.2);
    color: $dark-grey;//#262626;
    background-color: $white;
    padding: .6rem 2rem;
    //padding: 0 .5rem;
    //height: 2rem;
    text-transform: capitalize;
    letter-spacing: normal;

    &:after{
      position: absolute;
      right: 100%;
      bottom: 0;
      left: $game4-quiz__btn-header-radius;
      height: $game4-quiz__btn-underline-height;
      content: '';
      transition: right .3s cubic-bezier(.23,1,.32,1);
      background-color:$primary-color;
    }

    &:not([disabled]):hover:after{
      right: $game4-quiz__btn-header-radius;
    }
  }
}