.CircularProgressbar{
  .CircularProgressbar{
    .game4-quiz &{
      &-text{
        fill: $game4-quiz__checkbox-primary-color;
      }
      &-trail {
        stroke: $game4-quiz__checkbox-secondary-color;
      }
      &-path {
        stroke: $game4-quiz__checkbox-primary-color;
      }
    }
  }
}