# Eclipse
/.classpath
/.project
/.settings

# Intellij
.idea
*.iml
*.ipr

# Maven
target

node
node_modules
yarn-error.log
/src/main/resources/javascript/apps
coverage

# Jahia DX Studio
repository.xml.generated
