// Notes on the classes:
//
// 1. .game4-quiz.pointer-event should ideally be pan-y (to allow for users to scroll vertically)
//    even when their scroll action started on a carousel, but for compatibility (with Firefox)
//    we're preventing all actions instead
// 2. The .game4-quiz__item-left and .game4-quiz__item-right is used to indicate where
//    the active slide is heading.
// 3. .active.game4-quiz__item is the current slide.
// 4. .active.game4-quiz__item-left and .active.game4-quiz__item-right is the current
//    slide in its in-transition state. Only one of these occurs at a time.
// 5. .game4-quiz__item-next.game4-quiz__item-left and .game4-quiz__item-prev.game4-quiz__item-right
//    is the upcoming slide in transition.

.game4-quiz {
  position: relative;
  font-family: "JetBrainsMono";
}

.game4-quiz.pointer-event {
  touch-action: pan-y;
}
.game4-quiz__header{
  display: none;
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  height: 0;
  z-index: 1;
  padding-top: 2.25rem;
  padding-bottom: 1rem;
  padding-right: (100% - $game4-quiz__caption-width) / 2;
  padding-left: (100% - $game4-quiz__caption-width) / 2;
  .show-result &{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 6.5rem;
    background-color: $light-grey;
    transition: height .3s cubic-bezier(.23,1,.32,1);
    //@include transition($game4-quiz__transition);
  }

  &-result{
    text-transform: capitalize;
    font-size: 1.75rem;
    font-weight: 700;
    //.show-result &{
    //  display: block;
    //}
  }
  &-btn{

  }
}


.game4-quiz__inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  @include clearfix();
}


.game4-quiz__item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  @include transition($game4-quiz__transition);

  img{
    min-height: $game4-quiz__quiz-min-height;
    object-fit: cover;
  }
}

.game4-quiz__item.show-overlay::before {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  content:'';
  background-color: rgba(0,0,0,.75);
  //TODO works see better choice
  box-shadow: inset 1140px 0 570px -570px rgba(0,0,0,.5);

}

.game4-quiz__item.active,
.game4-quiz__item-next,
.game4-quiz__item-prev {
  display: block;
}

.game4-quiz__item-next:not(.game4-quiz__item-left),
.active.game4-quiz__item-right {
  transform: translateX(100%);
}

.game4-quiz__item-prev:not(.game4-quiz__item-right),
.active.game4-quiz__item-left {
  transform: translateX(-100%);
}


//
// Alternate transitions
//

.game4-quiz__fade {
  .game4-quiz__item {
    opacity: 0;
    transition-property: opacity;
    transform: none;
  }

  .game4-quiz__item.active,
  .game4-quiz__item-next.game4-quiz__item-left,
  .game4-quiz__item-prev.game4-quiz__item-right {
    z-index: 1;
    opacity: 1;
  }

  .active.game4-quiz__item-left,
  .active.game4-quiz__item-right {
    z-index: 0;
    opacity: 0;
    @include transition(opacity 0s $game4-quiz__transition-duration);
  }
}


//
// Left/right controls for nav
//

.game4-quiz__control-prev,
.game4-quiz__control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  // Use flex for alignment (1-3)
  display: flex; // 1. allow flex styles
  align-items: center; // 2. vertically center contents
  justify-content: center; // 3. horizontally center contents
  width: $game4-quiz__control-width;
  color: $game4-quiz__control-color;
  text-align: center;
  opacity: $game4-quiz__control-opacity;
  @include transition($game4-quiz__control-transition);

  // Hover/focus state
  @include hover-focus() {
    color: $game4-quiz__control-color;
    text-decoration: none;
    outline: 0;
    opacity: $game4-quiz__control-hover-opacity;
  }
}
.game4-quiz__control-prev {
  left: 0;
  @if $enable-gradients {
    background-image: linear-gradient(90deg, rgba($black, .25), rgba($black, .001));
  }
}
.game4-quiz__control-next {
  right: 0;
  @if $enable-gradients {
    background-image: linear-gradient(270deg, rgba($black, .25), rgba($black, .001));
  }
}

// Icons for within
.game4-quiz__control-prev-icon,
.game4-quiz__control-next-icon {
  display: inline-block;
  width: $game4-quiz__control-icon-width;
  height: $game4-quiz__control-icon-width;
  background: no-repeat 50% / 100% 100%;
}
.game4-quiz__control-prev-icon {
  background-image: escape-svg($game4-quiz__control-prev-icon-bg);
}
.game4-quiz__control-next-icon {
  background-image: escape-svg($game4-quiz__control-next-icon-bg);
}


// Optional indicator pips
//
// Add an ordered list with the following class and add a list item for each
// slide your carousel holds.

.game4-quiz__indicators {
  position: absolute;
  right: 0;
  //RVD >>
  // bottom: 0;
  top:0;

  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0; // override <ol> default
  // Use the .game4-quiz__control's width as margin so we don't overlay those
  //margin-right: $game4-quiz__control-width;
  //margin-left: $game4-quiz__control-width;
  list-style: none;
  //RVD >>
  padding: 1rem $game4-quiz__control-width 0;
  //margin-top: 1rem;
  //margin-bottom: 0;

  .show-result & {
    background-color: $light-grey;
  }


  li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: $game4-quiz__indicator-width;
    height: $game4-quiz__indicator-height;
    margin-right: $game4-quiz__indicator-spacer;
    margin-left: $game4-quiz__indicator-spacer;
    text-indent: -999px;

    background-color: $game4-quiz__indicator-active-bg;
    background-clip: padding-box;
    // Use transparent borders to increase the hit area by 10px on top and bottom.
    border-top: $game4-quiz__indicator-hit-area-height solid transparent;
    border-bottom: $game4-quiz__indicator-hit-area-height solid transparent;
    opacity: .5;
    @include transition($game4-quiz__indicator-transition);

    .show-result & {
      background-color:$game4-quiz__indicator-result-bg;
    }

    &.clickable{
      cursor: pointer;
    }

    &.active {
      opacity: 1;
    }
  }
}


// Optional captions
//
//

.game4-quiz__caption {
  position: absolute;
  right: (100% - $game4-quiz__caption-width) / 2;
  top: 4rem;
  //bottom: 20px;
  left: (100% - $game4-quiz__caption-width) / 2;
  z-index: 10;
  //padding-top: 3rem;
  padding-bottom: 20px;
  color: $game4-quiz__caption-color;
  text-align: center;
  transition: top .3s cubic-bezier(.23,1,.32,1);

  .show-result & {
    top: 7rem;
  }

  h2{
    color: $game4-quiz__caption-color;
    font-family: inherit;
    .subtitle{
      font-size: 65%;
      border-left: $game4-quiz__caption-pipe solid $primary-color;
      padding-left: 1rem;
      margin-left: 1rem;
    }
  }

  .duration{
    font-size: 1.2rem;
    margin: 2rem auto;

    svg{
      margin-right: .5rem;
    }
  }

  fieldset{
    text-align: left;
    legend{
      font-size: 2.5rem;
      font-weight: 700;
      i{
        font-size: 1rem;
        display: block;
        .show-result &{
          display:none;
        }
      }
    }
  }
}

.game4-quiz__score-result{
  margin-top: 6rem;
}

.game4-quiz__consent{
  position: absolute;
  bottom: .5rem;
  right: (100% - $game4-quiz__caption-width) / 2;
  left: (100% - $game4-quiz__caption-width) / 2;
  z-index: 10;
  color: $game4-quiz__caption-color;

  h5{
    text-transform: capitalize;
    text-decoration: underline;
    color: $game4-quiz__caption-color;
    font-family: inherit;
  }
  ul{
    list-style: none;
    padding:0;
  }

  li{
    margin-bottom: .5rem;
  }

  .consent-granted{
    margin:0;

    svg{
      color: $game4-quiz__checkbox-primary-color;
      margin-right: .5rem;

      &.consent-denied{
        cursor: pointer;
        color: $game4-quiz__checkbox-consent-denied-color;
        width: .6rem;
        margin-left: .25rem;
      }
    }
    i{
      display: block;
      font-size: .75rem;
    }
  }

  .consent-to-grant{
    .custom-control{
      &-label{
        cursor: pointer;
      }
    }
    i{
      font-size: .75rem;
    }
  }
}