//.show-result .custom-control.custom-checkbox::before {
//  content: '';
//  background: 50%/50% 50% red;
//  width: 10px;
//  height: 10px;
//  position: absolute;
//  top: calc(50% - 5px);
//  left: -20px;
//}

.game4-quiz__answer-list{
  //text-align: left;
  list-style: none;

  line-height: 1.5rem;
  font-size: 1.2rem;
  padding:0;

  .custom-control{
    padding: .75rem 0 .75rem .5rem;
    margin-right: .5rem;
    //border-bottom: 2px solid rgba(255,255,255,.2);
    border-top: 2px solid rgba(255,255,255,.2);



    &-input:checked ~ .custom-control-label::before {
      border-color: $game4-quiz__checkbox-primary-color;
      background-color: $game4-quiz__checkbox-primary-color;
    }
    .show-result & {

      //input:checked{
        //background-color: $white;
      //}
    }
  }

  li{
    position: relative;
    padding-left: 2.2rem;
    margin-bottom: 2px;

    &:first-child{
      .custom-control{
        border-top: none;
      }
    }
    &:last-child{
      .custom-control{
        border-bottom: 2px solid rgba(255,255,255,.2);
      }
    }

    .show-result &{
      //& + li.checked{
      //  .custom-control{
      //    border-bottom: none;
      //  }
      //}

      &.checked{
        background-color: $white;
        color: $dark-grey;
        border-radius: 10px;
        & + li{
          .custom-control{
            border-top: 2px solid transparent;
          }
        }
        &:last-child{
          border-bottom: 2px solid transparent;
        }
        .custom-control{
          border-top: 2px solid transparent;
        }
      }
    }
  }

  .result {
    opacity: 0;
    transform: none;
    @include transition(opacity 0s $game4-quiz__result-transition-duration);
    //transition: opacity $game4-quiz__result-transition-duration cubic-bezier(.23,1,.32,1);

    position: absolute;
    left: -2.2rem;
    top:.55rem;
    line-height: 1rem;
    border-radius: 5px 0px 0px 5px;
    color: $dark-grey;
    background-color: $game4-quiz__checkbox-secondary-color;
    z-index: 1;
    //box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);

    //width: 1.2rem;
    //height: 1.2rem;
    padding: .35rem;
    svg{
      width: 1rem !important;
      height: 1rem !important;
    }

    &.valid{
      background-color: $blue;
      color: $white;

      &:after{
        border-color: transparent transparent transparent $game4-quiz__checkbox-primary-color;
      }
    }

    &:after{
      content: "";
      width: 0;
      height: 0;
      //border-color: $light-grey transparent transparent;
      border-style: solid;
      border-width: .95rem 0 .9rem 1rem;
      position: absolute;
      top: 0;
      right:-16px;

      //width: 0;
      //height: 0;
      //border-style: solid;
      //border-width: 5px 0 5px 10px;
      border-color: transparent transparent transparent $game4-quiz__checkbox-secondary-color;

    }


    .show-result & {
      opacity: 1;
    }



    div{

    }


  }
}
